body{
                padding:5px;
                margin: 0 auto;
                font-family:Arial;
                font-size: 18px;
                background-color:#FF4500;
}

.principal{
                width: 95%;
                height: 850px;
                background-color: white;
                margin: 20px 20px 20px 20px ;
                border:2px inset purple;
}

.encabezado1{
                width: 95%;
                height: 100px;
                background-color: #FF4500;
                margin: 20px 20px 20px 20px ;
                border:4px inset purple;
                text-align:center;
}


.contenido{
                width: 95%;
                height: 600px;
                background-color: white;
                margin: 20px 20px 20px 20px ;
                border:4px inset purple;
}

.menu{
                width: 20%;
                height: 550px;
                background-color: #FF4500;
                margin: 20px 20px 20px 20px ;
                float: left;
                border:4px inset purple;
                text-align:left;
}

.productos{
                width: 70%;
                height: 550px;
                background-color: #FF4500;
                margin: 20px 20px 20px 20px ;
                float: right;
                border:4px inset purple;
                text-align:center;
}

.piepagina{
                width: 95%;
                height: 50px;
                background-color: #FF4500;
                margin: 20px 20px 20px 20px ;
                border-color: black;
                border:2px;
                border:4px inset purple;
                font-family:Arial;
                font-size: 10px;
}
