{% load staticfiles %}
<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Mi tienda</title>
  <link rel="stylesheet" href="{% static 'main-css.css'%}">
</head>

<body>
  <div class="principal">
    <div class="encabezado1">
      <h1><a href="/">Mi Tienda Web</a></h1>
      <form type="get" action="/search.html" >
          <input  id="search_input" type="text" name="search_input" placeholder="Buscar...">
          <button id="search_button" type="submit" >Buscar</button>
      </form>
    </div>

      <div class="menu">
        <h2>Productos</h2>
        <ul>       <li><a href="/televisores/">Televisores</a></li>  </ul>
        <ul>       <li><a href="/moviles/">Moviles</a></li>  </ul>
        <ul>       <li><a href="/ordenadores/">Ordenadores</a></li>   </ul>
      </div>

      <div class="productos">
        <form action="/your-order.html">
          <fieldset>
            <legend>Order information:</legend>
            Product name:<br>
            <input type="text" name="productname" value="">
            <br>
            Quantity:<br>
            <input type="text" name="quantity" value="">
            <br>
            Yuor Name:<br>
            <input type="text" name="yourname" value="">
            <br>
            Your Address:<br>
            <input type="text" name="youraddress" value="">
            <br>
            <br>
            <input type="submit" value="Submit">
          </fieldset>
        </form>
      </div>

  </div>
</body>
</html>
